parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        - '#.*\:\:mock\(\).*#'
        - '#Dynamic call to static method PHPUnit\\Framework\\TestCase::once\(\)#'
includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon